body {
    overflow-x: hidden;
}

section {
    margin-top: 5rem;

}

#splash {
    background-image: url('https://source.unsplash.com/WLUHO9A_xik');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;


    .row {
        height: 150px;
        border: 1px solid blue;
    }

}

.slick-prev:before,
.slick-next:before {
    color: blue !important;
}

#slick {
    @media (min-width: 375px) {
        margin: 0 1.5rem 0 1.5rem;
    }
}

#option02 {
    span {
        background: url('https://source.unsplash.com/jR4Zf-riEjI');
        height: 30rem;
    }
}