body {
    overflow-x: hidden;
}

section {
    margin-top: 5rem;

}

#splash {
    background: url('https://source.unsplash.com/-unJ-C_HBc8');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
    border: 1px solid blue;


    .container {
        height: 30rem;
        color: white;
        border: 1px solid red;
    }
}

#slick {

    .slick-prev:before,
    .slick-next:before {
        color: gray;
    }

    @media (min-width: 375px) {
        margin: 0 1.5rem 0 1.5rem;
    }
}

#option02 {
    span {
        background: url('https://source.unsplash.com/jR4Zf-riEjI');
        height: 30rem;
    }
}